body{
  background-color: white;
  margin-left: 80px;
  margin-right: 80px;
}

.nav{
  text-transform: uppercase;
  padding: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  border: dotted blue 2px;
}

.banner{
  margin-top: 30px;
  padding: 50px;
  display: flex;
  justify-content: center;
  border: dotted blue 2px;
}
